body>nav{
    display: flex;
    flex-flow: wrap;
    padding: var(--padSml);
    gap: var(--padMed);
    background-color: var(--colorMain);
    color: var(--colorLight);
    font-weight: bold;
}
body>nav>a:hover{
    color: var(--colorSec);
}

