body{
    background-color: var(--colorLight);
}
body>main{
    padding: var(--padLrg);
    max-width: 1400px;
}

body>main>*+*{
    margin-top: var(--padMed);
}
p{
    font-size: var(--fontSml);
}
input{
    display: block;
}
label{
    display: block;
}
li{
    list-style: none;
}
li span{
    font-style: italic;
    font-weight: bold;
}
*+ul{
    margin-top: var(--padSmlr);
}
ul>*+*{
    margin-top: var(--padSmlr);
}
article+article{
    margin-top: var(--padMed);
}