
.button{
    background-color: var(--colorLight);
    border: 1px solid var(--colorDark);
    border-radius: .4em;
    box-shadow: 2px 2px var(--colorDark);
    color: var(--colorDark);
    font-size: var(--fontText);
    padding: var(--padSmlst);
}
.button.warning{
    background-color: var(--colorWarning);
}
.button:hover{
    cursor: pointer;
    background-color: var(--colorSec);
}